In [1]:
import pandas as pd

In [58]:
bilstm_cnns_df = pd.read_csv('bilstm_cnns_w2v.csv', index_col=[0]).reset_index().loc[:20]
bilstm_df = pd.read_csv('bilstm_w2v.csv', index_col=[0]).reset_index().loc[:20]

In [59]:
bilstm_cnns_df

             index  precision    recall  f1-score  support
0           U-TIME   0.750000  0.500000  0.600000     24.0
1         I-PERSON   0.466667  0.790323  0.586826     62.0
2         B-PERSON   0.841004  0.877729  0.858974    229.0
3       L-LOCATION   0.747475  0.725490  0.736318    102.0
4   U-ORGANIZATION   0.748000  0.745020  0.746507    251.0
5   I-ORGANIZATION   0.784091  0.496403  0.607930    139.0
6           L-TIME   0.641026  0.555556  0.595238     45.0
7         U-PERSON   0.871698  0.885057  0.878327    261.0
8           B-TIME   0.613636  0.613636  0.613636     44.0
9           I-TIME   0.771186  0.694656  0.730924    131.0
10      L-QUANTITY   0.625000  0.462963  0.531915     54.0
11      B-QUANTITY   0.600000  0.457627  0.519231     59.0
12  B-ORGANIZATION   0.675000  0.696774  0.685714    155.0
13      U-QUANTITY   0.000000  0.000000  0.000000      1.0
14      I-LOCATION   0.551282  0.558442  0.554839     77.0
15      U-LOCATION   0.809955  0.752101  0.779956    238.0
16  L-ORGANIZATION   0.707483  0.662420  0.684211    157.0
17        L-PERSON   0.877193  0.869565  0.873362    230.0
18      I-QUANTITY   0.727273  0.461538  0.564706     52.0
19      B-LOCATION   0.700000  0.673077  0.686275    104.0
20               O   0.964315  0.972328  0.968305  12034.0

In [60]:
bilstm_df

             index  precision    recall  f1-score  support
0   U-ORGANIZATION   0.682609  0.625498  0.652807    251.0
1       U-QUANTITY   0.000000  0.000000  0.000000      1.0
2   L-ORGANIZATION   0.653846  0.649682  0.651757    157.0
3         L-PERSON   0.811966  0.826087  0.818966    230.0
4       L-QUANTITY   0.333333  0.351852  0.342342     54.0
5           B-TIME   0.666667  0.500000  0.571429     44.0
6       L-LOCATION   0.628099  0.745098  0.681614    102.0
7           U-TIME   0.307692  0.166667  0.216216     24.0
8         B-PERSON   0.800000  0.838428  0.818763    229.0
9       B-QUANTITY   0.360656  0.372881  0.366667     59.0
10  B-ORGANIZATION   0.664474  0.651613  0.657980    155.0
11      I-LOCATION   0.596491  0.441558  0.507463     77.0
12          L-TIME   0.655172  0.422222  0.513514     45.0
13        U-PERSON   0.824903  0.812261  0.818533    261.0
14      U-LOCATION   0.727273  0.739496  0.733333    238.0
15      B-LOCATION   0.655172  0.730769  0.690909    104.0
16        I-PERSON   0.493976  0.661290  0.565517     62.0
17  I-ORGANIZATION   0.709091  0.561151  0.626506    139.0
18      I-QUANTITY   0.653846  0.326923  0.435897     52.0
19          I-TIME   0.841121  0.687023  0.756303    131.0
20               O   0.959340  0.966595  0.962954  12034.0

In [61]:
bilstm_df.columns = ['label', 'p', 'r', 'f', 's']
bilstm_cnns_df.columns = ['label', 'p', 'r', 'f', 's']

In [62]:
bilstm_df['pos'] = bilstm_df['label'].map(lambda x: x.split('-')[0])
bilstm_df['ne'] = bilstm_df['label'].map(lambda x: x.split('-')[-1])

bilstm_cnns_df['pos'] = bilstm_cnns_df['label'].map(lambda x: x.split('-')[0])
bilstm_cnns_df['ne'] = bilstm_cnns_df['label'].map(lambda x: x.split('-')[-1])

In [63]:
NE_bilstm_df = bilstm_df[['pos', 'f']]
NE_bilstm_cnns_df = bilstm_cnns_df[['pos', 'f']]

In [64]:
NE_bilstm_df = NE_bilstm_df.groupby(['pos']).mean().reset_index()
NE_bilstm_cnns_df = NE_bilstm_cnns_df.groupby(['pos']).mean().reset_index()

In [65]:
NE_bilstm_df

  pos         f
0   B  0.621150
1   I  0.578337
2   L  0.601639
3   O  0.962954
4   U  0.484178

In [66]:
NE_bilstm_cnns_df

  pos         f
0   B  0.672766
1   I  0.609045
2   L  0.684209
3   O  0.968305
4   U  0.600958

In [68]:
df = pd.merge(NE_bilstm_df, NE_bilstm_cnns_df, on='pos', how='inner')

In [29]:
# df = df[df['ne'] != 'O']

In [69]:
df['diff'] = df['f_y'] - df['f_x']

In [70]:
df['diff'] = df['diff'] * 100

In [71]:
df

  pos       f_x       f_y       diff
0   B  0.621150  0.672766   5.161644
1   I  0.578337  0.609045   3.070765
2   L  0.601639  0.684209   8.257029
3   O  0.962954  0.968305   0.535143
4   U  0.484178  0.600958  11.678028

In [72]:
df['diff'].mean()

5.740521695099055

In [50]:
pos_df = bilstm_df[['pos', 'f']]

In [52]:
pos_df.groupby(['pos']).mean().reset_index()

  pos         f
0   B  0.672766
1   I  0.609045
2   L  0.684209
3   O  0.968305
4   U  0.600958

In [42]:
data = pd.read_csv('../data/data.csv')

In [43]:
data.head()

          word             tag
0     Pengamat               O
1      politik               O
2         dari               O
3  Universitas  B-ORGANIZATION
4       Gadjah  I-ORGANIZATION

In [40]:
data = data[data['tag'] != 'O']

In [53]:
data['ne'] = data['tag'].map(lambda x: x.split('-')[-1])
data['pos'] = data['tag'].map(lambda x: x.split('-')[0])

In [54]:
data

              word             tag            ne pos
0         Pengamat               O             O   O
1          politik               O             O   O
2             dari               O             O   O
3      Universitas  B-ORGANIZATION  ORGANIZATION   B
4           Gadjah  I-ORGANIZATION  ORGANIZATION   I
...            ...             ...           ...  ..
98117        tidak               O             O   O
98118     bersikap               O             O   O
98119      seperti               O             O   O
98120      oposisi               O             O   O
98121            .               O             O   O

[98122 rows x 4 columns]

In [55]:
data['pos'].value_counts() / len(data) * 100

O    83.352357
U     5.340291
L     4.060252
B     4.060252
I     3.186849
Name: pos, dtype: float64

In [76]:
100-405021/(405021+5617421)*100

93.27480447300282

In [78]:
100-341149/(341149+5553549)*100

94.21261275810906

In [79]:
97.60 - 97.25

0.3499999999999943

In [80]:
97.51 - 97.22

0.29000000000000625